apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: billingdb-pvc
  namespace: logiflow
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: standard
