spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - Authorization

server:
  port: 8080

jwt:
  secret: logiflow-secret-key-super-secure-change-in-production-2024

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.entregaexpress: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
