spring:
  application:
    name: billing-service
  
  datasource:
    url: jdbc:postgresql://localhost:5535/billingdb
    driver-class-name: org.postgresql.Driver
    username: logiflow
    password: logiflow123
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8084

logging:
  level:
    com.entregaexpress: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
