spring:
  application:
    name: auth-service
  
  datasource:
    url: jdbc:postgresql://localhost:5532/authdb
    driver-class-name: org.postgresql.Driver
    username: logiflow
    password: logiflow123
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
server:
  port: 8081

jwt:
  secret: logiflow-secret-key-super-secure-change-in-production-2024
  expiration: 86400000 # 24 horas en millisegundos

logging:
  level:
    com.entregaexpress: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
